{% extends 'base.html' %}

    {% block content %}
        <div class="jumbotron">
        <form id="inputForm">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="nicknames work too!">
          </div>

            <div class="form-group">
                <label>Surname</label>
                <input type="text" class="form-control" id="lastName" placeholder="only if ok with it">
            </div>

            <div class="form-group">
                <label> Age </label>
                <input type="text" class="form-control" id="age" placeholder="...">
            </div>

            <div class="form-group">
                <label> Profession </label>
                <input type="text" class="form-control" id="profession" placeholder="...">
            </div>

          <div class="form-group">
                <label for="intendRes">Intended Destination</label>
                <select id="intendRes" class="form-control">
                  <option value="Germany">Germany</option>
                  <option value="France">France</option>
                  <option value="Finland">Finland</option>
                    <option value="Sweden">Finland</option>
                  <option value = "Canada">Canada</option>
                    <option value="USA">United States</option>
                </select>
            </div>

            <div class="form-group">
                <label> Story </label>
                <input type="text" class="form-control" id="story" placeholder="...">
            </div>

            <div class="col-xs-6">
                <label for="exampleInputFile"></label>
                <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                <small id="fileHelp" class="form-text text-muted">Please take a good photo</small>
            </div>


             <div class="form-group">
                <legend>Story format</legend>
                <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Digital
                    </label>
                </div>
             </div>

                 <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Handwritten (upload file)
                    </label>
                 </div>




            <div class="form-group">
                <label class="form-check-label">
                <input class="form-check-input" value="" checked="" type="checkbox">
                    I claim anonymity and therefore my real name is not to be published
                </label>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        {%  endblock %}
