{% extends 'base.html' %}

{% block content %}
  <form method="post">
        <div class="form-group">
            <label for="userName"> First Name</label>
                <div class="col-md-6">
            <input class="form-control" id="userName" aria-describedby="anonClaim" placeholder="..." type="text">
            <small id="anonClaim" class="form-text text-muted">Nicknames are ok too! </small>
            </div>
            </div>

             <div class="form-group">
            <label for="lastName"> Last Name (optional)</label>
                 <div class="col-md-6">
            <input class="form-control" id="lastName" aria-describedby="nameClaim" placeholder="..." type="text">
            <small id="anonClaim" class="form-text text-muted">Fill out only if comfortable</small>
            </div>
             </div>

            <div class="form-group">
                <label for="age"> Age </label>
                    <div class="col-md-6">
                        <input class="form-control" id="age" aria-describedby="ageField" type="text">
                    </div>
            </div>

            <div class="form-group">
                <label for="profession"> Profession </label>
                    <div class="col-md-6">
                        <input class="form-control" id="profession" aria-describedby="profession" type="text">
                    </div>
            </div>

g
             <div class="form-group">
                <label for="exampleSelect1">Intended Destination</label>
                <select class="form-control" id="exampleSelect1">
                    <option>England</option>
                    <option>Germany</option>
                    <option>France</option>
                    <option>Denmark</option>
                    <option>USA</option>
                </select>
             </div>

               <div class="form-group">
                    <label for="exampleTextarea">Type your story here or upload a photo</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
               </div>

                 <div class="col-xs-6">
                    <label for="exampleInputFile"></label>
                    <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    <small id="fileHelp" class="form-text text-muted">Please take a good photo</small>
                </div>

             <fieldset class="form-group">
                <legend>Story format</legend>
                <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Digital
                    </label>
                </div>

                 <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Handwritten (upload file)
                    </label>
                 </div>
    </fieldset>


    <fieldset class="form-group">
      <legend>Anonymity Preferences</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" value="" checked="" type="checkbox">
          I abide by the anonymity claim
        </label>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
{% endblock %}